/* Text Styles */
.heading-1 {
  font-family: var(--font-family-ubuntu, "Ubuntu", sans-serif);
  font-size: var(--text-6xl, 34px);
  font-weight: var(--font-weight-bold, 700);
  font-style: normal;
  line-height: var(--leading-6xl, 48px);
}

.heading-2 {
  font-family: var(--font-family-ubuntu, "Ubuntu", sans-serif);
  font-size: var(--text-5xl, 28px);
  font-weight: var(--font-weight-bold, 700);
  font-style: normal;
  line-height: var(--leading-5xl, 42px);
}

.heading-3 {
  font-family: var(--font-family-ubuntu, "Ubuntu", sans-serif);
  font-size: var(--text-4xl, 24px);
  font-weight: var(--font-weight-bold, 700);
  font-style: normal;
  line-height: var(--leading-4xl, 36px);
}

.heading-4 {
  font-family: var(--font-family-ubuntu, "Ubuntu", sans-serif);
  font-size: var(--text-3xl, 22px);
  font-weight: var(--font-weight-bold, 700);
  font-style: normal;
  line-height: var(--leading-3xl, 32px);
}

.heading-5 {
  font-family: var(--font-family-ubuntu, "Ubuntu", sans-serif);
  font-size: var(--text-2xl, 20px);
  font-weight: var(--font-weight-bold, 700);
  font-style: normal;
  line-height: var(--leading-2xl, 28px);
}

.heading-6 {
  font-family: var(--font-family-ubuntu, "Ubuntu", sans-serif);
  font-size: var(--text-xl, 18px);
  font-weight: var(--font-weight-bold, 700);
  font-style: normal;
  line-height: var(--leading-xl, 26px);
  text-transform: capitalize;
}

.body-small-regular {
  font-family: var(--font-family-ubuntu, "Ubuntu", sans-serif);
  font-size: var(--text-base, 14px);
  font-weight: var(--font-weight-regular, 400);
  font-style: normal;
  line-height: var(--leading-base, 21px);
}

.body-small-semibold {
  font-family: var(--font-family-ubuntu, "Ubuntu", sans-serif);
  font-size: var(--text-base, 14px);
  font-weight: var(--font-weight-medium, 500);
  font-style: normal;
  line-height: var(--leading-base, 21px);
}

.body-small-bold {
  font-family: var(--font-family-ubuntu, "Ubuntu", sans-serif);
  font-size: var(--text-base, 14px);
  font-weight: var(--font-weight-bold, 700);
  font-style: normal;
  line-height: var(--leading-base, 21px);
}

.body-small-italic {
  font-family: var(--font-family-ubuntu, "Ubuntu", sans-serif);
  font-size: var(--text-base, 14px);
  font-weight: var(--font-weight-italic, 400);
  font-style: italic;
  line-height: var(--leading-base, 21px);
}

.body-small-underline {
  font-family: var(--font-family-ubuntu, "Ubuntu", sans-serif);
  font-size: var(--text-base, 14px);
  font-weight: var(--font-weight-regular, 400);
  font-style: normal;
  line-height: var(--leading-base, 21px);
  text-decoration: underline;
}

.body-small-underline-semibold {
  font-family: var(--font-family-ubuntu, "Ubuntu", sans-serif);
  font-size: var(--text-base, 14px);
  font-weight: var(--font-weight-medium, 500);
  font-style: normal;
  line-height: var(--leading-base, 21px);
  text-decoration: underline;
}

.body-small-underline-bold {
  font-family: var(--font-family-ubuntu, "Ubuntu", sans-serif);
  font-size: var(--text-base, 14px);
  font-weight: var(--font-weight-bold, 700);
  font-style: normal;
  line-height: var(--leading-base, 21px);
  text-decoration: underline;
}

.body-large-regular {
  font-family: var(--font-family-ubuntu, "Ubuntu", sans-serif);
  font-size: var(--text-lg, 16px);
  font-weight: var(--font-weight-regular, 400);
  font-style: normal;
  line-height: var(--leading-lg, 24px);
}

.body-large-semibold {
  font-family: var(--font-family-ubuntu, "Ubuntu", sans-serif);
  font-size: var(--text-lg, 16px);
  font-weight: var(--font-weight-medium, 500);
  font-style: normal;
  line-height: var(--leading-lg, 24px);
}

.body-large-bold {
  font-family: var(--font-family-ubuntu, "Ubuntu", sans-serif);
  font-size: var(--text-lg, 16px);
  font-weight: var(--font-weight-bold, 700);
  font-style: normal;
  line-height: var(--leading-lg, 24px);
}

.body-large-italic {
  font-family: var(--font-family-ubuntu, "Ubuntu", sans-serif);
  font-size: var(--text-lg, 16px);
  font-weight: var(--font-weight-italic, 400);
  font-style: italic;
  line-height: var(--leading-lg, 24px);
}

.body-large-underline {
  font-family: var(--font-family-ubuntu, "Ubuntu", sans-serif);
  font-size: var(--text-lg, 16px);
  font-weight: var(--font-weight-regular, 400);
  font-style: normal;
  line-height: var(--leading-lg, 24px);
  text-decoration: underline;
}

.body-large-underline-semibold {
  font-family: var(--font-family-ubuntu, "Ubuntu", sans-serif);
  font-size: var(--text-lg, 16px);
  font-weight: var(--font-weight-medium, 500);
  font-style: normal;
  line-height: var(--leading-lg, 24px);
  text-decoration: underline;
}

.body-large-underline-bold {
  font-family: var(--font-family-ubuntu, "Ubuntu", sans-serif);
  font-size: var(--text-lg, 16px);
  font-weight: var(--font-weight-bold, 700);
  font-style: normal;
  line-height: var(--leading-lg, 24px);
  text-decoration: underline;
}

.caption-large-regular {
  font-family: var(--font-family-ubuntu, "Ubuntu", sans-serif);
  font-size: var(--text-sm, 12px);
  font-weight: var(--font-weight-regular, 400);
  font-style: normal;
  line-height: var(--leading-sm, 18px);
}

.caption-large-semibold {
  font-family: var(--font-family-ubuntu, "Ubuntu", sans-serif);
  font-size: var(--text-sm, 12px);
  font-weight: var(--font-weight-medium, 500);
  font-style: normal;
  line-height: var(--leading-sm, 18px);
}

.caption-large-bold {
  font-family: var(--font-family-ubuntu, "Ubuntu", sans-serif);
  font-size: var(--text-sm, 12px);
  font-weight: var(--font-weight-bold, 700);
  font-style: normal;
  line-height: var(--leading-sm, 18px);
}

.caption-large-italic {
  font-family: var(--font-family-ubuntu, "Ubuntu", sans-serif);
  font-size: var(--text-sm, 12px);
  font-weight: var(--font-weight-italic, 400);
  font-style: italic;
  line-height: var(--leading-sm, 18px);
}

.caption-large-underline {
  font-family: var(--font-family-ubuntu, "Ubuntu", sans-serif);
  font-size: var(--text-sm, 12px);
  font-weight: var(--font-weight-regular, 400);
  font-style: normal;
  line-height: var(--leading-sm, 18px);
  text-decoration: underline;
}

.caption-large-underline-semibold {
  font-family: var(--font-family-ubuntu, "Ubuntu", sans-serif);
  font-size: var(--text-sm, 12px);
  font-weight: var(--font-weight-medium, 500);
  font-style: normal;
  line-height: var(--leading-sm, 18px);
  text-decoration: underline;
}

.caption-large-underline-bold {
  font-family: var(--font-family-ubuntu, "Ubuntu", sans-serif);
  font-size: var(--text-sm, 12px);
  font-weight: var(--font-weight-bold, 700);
  font-style: normal;
  line-height: var(--leading-sm, 18px);
  text-decoration: underline;
}

.caption-small-regular {
  font-family: var(--font-family-ubuntu, "Ubuntu", sans-serif);
  font-size: var(--text-xs, 10px);
  font-weight: var(--font-weight-regular, 400);
  font-style: normal;
  line-height: var(--leading-xs, 15px);
}

.caption-small-semibold {
  font-family: var(--font-family-ubuntu, "Ubuntu", sans-serif);
  font-size: var(--text-xs, 10px);
  font-weight: var(--font-weight-medium, 500);
  font-style: normal;
  line-height: var(--leading-xs, 15px);
}

.caption-small-bold {
  font-family: var(--font-family-ubuntu, "Ubuntu", sans-serif);
  font-size: var(--text-xs, 10px);
  font-weight: var(--font-weight-bold, 700);
  font-style: normal;
  line-height: var(--leading-xs, 15px);
}

.caption-small-italic {
  font-family: var(--font-family-ubuntu, "Ubuntu", sans-serif);
  font-size: var(--text-xs, 10px);
  font-weight: var(--font-weight-italic, 400);
  font-style: italic;
  line-height: var(--leading-xs, 15px);
}

.caption-small-underline {
  font-family: var(--font-family-ubuntu, "Ubuntu", sans-serif);
  font-size: var(--text-xs, 10px);
  font-weight: var(--font-weight-regular, 400);
  font-style: normal;
  line-height: var(--leading-xs, 15px);
  text-decoration: underline;
}

.caption-small-underline-semibold {
  font-family: var(--font-family-ubuntu, "Ubuntu", sans-serif);
  font-size: var(--text-xs, 10px);
  font-weight: var(--font-weight-medium, 500);
  font-style: normal;
  line-height: var(--leading-xs, 15px);
  text-decoration: underline;
}

.caption-small-underline-bold {
  font-family: var(--font-family-ubuntu, "Ubuntu", sans-serif);
  font-size: var(--text-xs, 10px);
  font-weight: var(--font-weight-bold, 700);
  font-style: normal;
  line-height: var(--leading-xs, 15px);
  text-decoration: underline;
}

.button-medium {
  font-family: var(--font-family-ubuntu, "Ubuntu", sans-serif);
  font-size: var(--text-base, 14px);
  font-weight: var(--font-weight-medium, 500);
  font-style: normal;
  line-height: var(--leading-base, 21px);
  text-transform: capitalize;
}

.button-small {
  font-family: var(--font-family-ubuntu, "Ubuntu", sans-serif);
  font-size: var(--text-sm, 12px);
  font-weight: var(--font-weight-medium, 500);
  font-style: normal;
  line-height: var(--leading-sm, 18px);
  text-transform: capitalize;
}

.button-large {
  font-family: var(--font-family-ubuntu, "Ubuntu", sans-serif);
  font-size: var(--text-lg, 16px);
  font-weight: var(--font-weight-medium, 500);
  font-style: normal;
  line-height: var(--leading-lg, 24px);
  text-transform: capitalize;
}

