/* Base Variables */
:root {
  /* Collection: - base color */
  --primary-25: #99D3DE;
  --primary-50: #80C9D6;
  --primary-100: #66BECD;
  --primary-200: #4DB3C5;
  --primary-300: #33A8BD;
  --primary-400: #1A9DB4;
  --primary-500: #009EA9;
  --primary-600: #007E87;
  --primary-700: #005F65;
  --primary-800: #003F44;
  --primary-900: #002022;
  --secondary-25: #F3F5FC;
  --secondary-50: #DDE1EC;
  --secondary-100: #C7CCDB;
  --secondary-200: #9BA3BA;
  --secondary-300: #707B9A;
  --secondary-400: #445279;
  --secondary-500: #182958;
  --secondary-600: #132146;
  --secondary-700: #0E1935;
  --secondary-800: #0A1023;
  --secondary-900: #050812;
  --tertiary-25: #F9FAFA;
  --tertiary-50: #E7E8E9;
  --tertiary-100: #D5D7D9;
  --tertiary-200: #B1B4B8;
  --tertiary-300: #8C9197;
  --tertiary-400: #686E76;
  --tertiary-500: #444B55;
  --tertiary-600: #363C44;
  --tertiary-700: #292D33;
  --tertiary-800: #1B1E22;
  --tertiary-900: #0E0F11;
  --error-25: #FFF9F9;
  --error-50: #FDE5E4;
  --error-100: #FCD1CE;
  --error-200: #F8A9A4;
  --error-300: #F58179;
  --error-400: #F1594F;
  --error-500: #EE3124;
  --error-600: #C7281D;
  --error-700: #9F2017;
  --error-800: #781710;
  --error-900: #500F0A;
  --warning-25: #FFFDFC;
  --warning-50: #FEF2E6;
  --warning-100: #FDE8D0;
  --warning-200: #FCD3A3;
  --warning-300: #FABD77;
  --warning-400: #F9A84A;
  --warning-500: #F7931E;
  --warning-600: #CF7B18;
  --warning-700: #A76213;
  --warning-800: #7E4A0D;
  --warning-900: #563108;
  --information-25: #FAFBFF;
  --information-50: #E6ECFF;
  --information-100: #D2DDFF;
  --information-200: #AABFFF;
  --information-300: #83A2FF;
  --information-400: #5B84FF;
  --information-500: #3366FF;
  --information-600: #2957E1;
  --information-700: #1F48C4;
  --information-800: #1439A6;
  --information-900: #0A2A89;
  --success-25: #F2FCF5;
  --success-50: #DDF2E4;
  --success-100: #C9E8D3;
  --success-200: #A0D4B1;
  --success-300: #77BF90;
  --success-400: #4EAB6E;
  --success-500: #25974C;
  --success-600: #1E793D;
  --success-700: #165B2E;
  --success-800: #0F3C1E;
  --success-900: #071E0F;
  --white: #FFFFFF;
  --black: #000000;

  /* Collection: font style */
  --font-family-ubuntu: 'Ubuntu';
  --font-size-34: 34px;
  --font-size-28: 28px;
  --font-size-24: 24px;
  --font-size-22: 22px;
  --font-size-20: 20px;
  --font-size-18: 18px;
  --font-size-14: 14px;
  --font-size-16: 16px;
  --font-size-12: 12px;
  --font-size-10: 10px;
  --font-weight-bold: 700;
  --font-weight-regular: 400;
  --font-weight-medium: 500;
  --letter-spacing-0: 0px;
  --line-height-48: 48px;
  --line-height-42: 42px;
  --line-height-36: 36px;
  --line-height-32: 32px;
  --line-height-28: 28px;
  --line-height-26: 26px;
  --line-height-21: 21px;
  --line-height-24: 24px;
  --line-height-18: 18px;
  --line-height-15: 15px;
  --paragraph-spacing-0: 0px;
  --paragraph-spacing-18: 18px;
  --paragraph-indent-0: 0px;
  --list-spacing-0: 0px;
  --font-type-italic: 'italic';
  --font-color-primary: #444B55;
  --font-color-secondary: #686E76;
  --font-color-inactive: #8C9197;
  --font-color-placeholder: #B1B4B8;
  --font-color-white: #FFFFFF;

  /* Collection: spacing */
  --spacing-4: 4px;
  --spacing-8: 8px;
  --spacing-12: 12px;
  --spacing-16: 16px;
  --spacing-20: 20px;
  --spacing-24: 24px;
  --spacing-28: 28px;
  --spacing-32: 32px;
  --spacing-36: 36px;
  --spacing-40: 40px;

  /* Collection: button */
  --state-default: #009EA9;
  --state-hover: #007E87;
  --state-pressed: #005F65;
  --state-focused: #FFFFFF;
  --state-disabled: #FFFFFF;
  --text-default: #FFFFFF;
  --text-outline: #009EA9;
  --text-disabled: #8C9197;

  /* Collection: --- mimin */
  --mimin-sidebar-navigation-menu: #FFFFFF;
  --mimin-sidebar-navigation-text: #444B55;
  --mimin-sidebar-navigation-icon: #686E76;

  /* Collection: anchor text */
  --anchor-text: #009EA9;

  /* Collection: --- flow figma */
  --flow-colors-netral: #83A2FF;
  --flow-colors-positive: #25974C;
  --flow-colors-negative: #EE3124;

  /* Collection: - pastel color */
  --soft-pastel-ambrosia-ivory: #FFF5EA;
  --soft-pastel-placebo-turqoise: #ECFFF3;
  --soft-pastel-sugar-coated: #FFEDF1;
  --soft-pastel-polished-pink: #FFF3EF;
  --soft-pastel-brilliant-white: #EFF3FF;
  --soft-pastel-carte-blance: #EEEEFF;
  --soft-pastel-moon-white: #E8F2FF;
  --soft-pastel-milky-way: #E6F4F7;
  --hard-pastel-highlighter-pink: #E35C77;
  --hard-pastel-gorse-warning: #EA9B3F;
  --hard-pastel-tropical-tone: #55A172;
  --hard-pastel-new-car: #2952CC;
  --hard-pastel-mesa-sunrise: #E9835D;
  --hard-pastel-feather-star: #5298ED;
  --hard-pastel-cool-violet: #7E7CE6;
  --hard-pastel-cape-pond: #0092AC;

  /* Collection: background color */
  --background-color-inactive: #E7E8E9;
  --background-color-blackout: #8C9197;
  --background-color-secondary: #F9FAFA;
  --background-color-primary: #FFFFFF;

  /* Collection: border color */
  --border-color-light: #F6F9FC;
  --border-color-dark: #DEE3ED;

  /* Collection: chip */
  --soft-primary: #E6F4F7;
  --soft-success: #DDF2E4;
  --soft-secondary: #DDE1EC;
  --soft-tertiary: #E7E8E9;
  --soft-information: #E6ECFF;
  --soft-warning: #FEF2E6;
  --soft-error: #FDE5E4;
  --solid-primary: #009EA9;
  --solid-success: #25974C;
  --solid-secondary: #182958;
  --solid-tertiary: #444B55;
  --solid-information: #3366FF;
  --solid-warning: #F7931E;
  --solid-error: #EE3124;

}

/* Theme & Mode Mappings */
[data-mode-button="primary"] {
  --state-default: #009EA9;
  --state-hover: #007E87;
  --state-pressed: #005F65;
  --state-focused: #FFFFFF;
  --state-disabled: #FFFFFF;
  --text-default: #FFFFFF;
  --text-outline: #009EA9;
  --text-disabled: #8C9197;
}

[data-mode-button="tertiery"] {
  --state-default: #444B55;
  --state-hover: #363C44;
  --state-pressed: #292D33;
  --state-focused: #FFFFFF;
  --state-disabled: #FFFFFF;
  --text-default: #FFFFFF;
  --text-outline: #444B55;
  --text-disabled: #8C9197;
}

[data-mode-button="destructive"] {
  --state-default: #EE3124;
  --state-hover: #C7281D;
  --state-pressed: #9F2017;
  --state-focused: #FFFFFF;
  --state-disabled: #FFFFFF;
  --text-default: #FFFFFF;
  --text-outline: #EE3124;
  --text-disabled: #8C9197;
}

[data-mode-mimin="default"] {
  --mimin-sidebar-navigation-menu: #FFFFFF;
  --mimin-sidebar-navigation-text: #444B55;
  --mimin-sidebar-navigation-icon: #686E76;
}

[data-mode-mimin="active"] {
  --mimin-sidebar-navigation-menu: #009EA9;
  --mimin-sidebar-navigation-text: #FFFFFF;
  --mimin-sidebar-navigation-icon: #FFFFFF;
}

[data-mode-anchor-text="default"] {
  --anchor-text: #009EA9;
}

[data-mode-anchor-text="inactive"] {
  --anchor-text: #8C9197;
}